body {
  max-width: 900px;
  margin: 0 auto;
  /* font-family: 'Noto Sans KR', sans-serif;
  font-family: 'IBM Plex Sans KR', sans-serif; */
  /* font-family: 'Nanum Gothic', sans-serif; */
  line-height: 1.6;
  padding: 2rem;
}

a {
    color: royalblue;
    font-weight: bold;
    text-decoration: none;
    overflow-x: scroll;
}

.katex-display {
    padding-top:0.5em;
    padding-bottom:0.5em;
    overflow: hidden;
    vertical-align: top;
    margin-top: 0px;
    margin-bottom: 0px;
}
.bracketed-list {
    list-style: none;
    counter-reset: ref;
    padding-left: 0;
}
.bracketed-list li {
    counter-increment: ref;
    margin-bottom: 6px;
    position: relative;
    padding-left: 2em;
}
  .bracketed-list li::before {
    content: "[" counter(ref) "] ";
    position: absolute;
    left: 0;
}

.paper-link {
    color: inherit;
    font-weight: normal;
    text-decoration: none; /* 혹시 모를 밑줄 방지용 */
}

.katex-display {
    padding-top:0.5em;
    padding-bottom:0.5em;
    overflow: hidden;
    vertical-align: top;
    margin-top: 0px;
    margin-bottom: 0px;
}
.katex-display:hover { overflow: auto hidden }
/* (23.05.05, 전) katex 한글 폰트 지정  */
.katex .hangul_fallback {
	/* font-family: Nanum Gothic */
	font-family: 'Nanum Myeongjo'
	/* font-family: 'Noto Sans KR' */    
}
/* 수식 지원 END */


.first-col {
    position: relative;
    width: 100px;
}

/* 실제 세로선 */
.first-col::after {
    content: "";
    position: absolute;
    right: 0;
    top: 1px;      /* 위쪽 여백 */
    bottom: 1px;   /* 아래쪽 여백 */
    width: 1px;
    background: black;
}
