body {
  max-width: 900px;
  margin: 0 auto;
  font-family: sans-serif;
  line-height: 1.6;
  padding: 2rem;
}

a {
    color: royalblue;
    font-weight: bold;
    text-decoration: none;
    overflow-x: scroll;
}